<center>
  <h1>Movie Results</h1>

  <%= link_to "Discover Page", user_discover_index_path(@user), method: :get, local: true, :class => "text-muted" %>
<br>
<br>
  <% @movies.each do |movie|  %>
    <h5>
      <%= link_to "#{movie.title}", user_movie_path(@user, id: movie.movie_id), method: :get, local: true, :class => "text-secondary" %>
    </h5>
    <p class="text-success">Vote Average: <%= movie.vote_average %></p>
  <% end %>
</center>
