---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=746c7a31ff4c8c1d8bb8a357566a0873&query=%7B:title=%3E%22ponyo%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 204c7ecf4cf52a351c5c6c1762951ab5
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '24545'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Fri, 05 May 2023 15:44:55 GMT
recorded_with: VCR 6.1.0
