
<center><h1 class="text-secondary">Viewing Party</h1></center>



<center><h3 class="text-success">Party People:</h3></center>
<% @users.each do |user| %>
  <center><li> <%= link_to "#{user.name}", dashboard_path, method: :get%> </li></center>
<% end %>

 